/* Style for reservation.html */

/*Styler body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/ex.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#mydiv {
    text-align: center;
}

/* Styler input bokse */
input[type=text], input[type=date], input[type=number], textarea, input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
}

/* Styler alle input bokse, når de er valgt som det felt der skal indtastes i. */
input[type=text]:focus, input[type=date]:focus, input[type=number]:focus, textarea:focus, input[input=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Style for Requst booking knappen */
.request-booking {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Sætter hover på Request Booking knappen */
.request-booking:hover {
    opacity: 10;
}

#knap {
    margin-left: 50%;
    margin-top: 100px;
}

.reservation-form {
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}