body {
    background-color: white;
    font-family: "Palatino", "Palatino Linotype", sans-serif;
    /* vi bruger både Palatino og Palatino Linotype da de
    hver især er kompatible med forskellige browsere
     */
}

/* Design of the responsive hamburger menu */

/* Design of icon */
.navBar .icon {
    display: none;
    color: black;
    font-size: 24px;
    position: absolute;
    top: 26px;
    left: 230px;
    cursor: pointer;
}

/* Making icon appear and navBar hide at certain width */
@media screen and (max-width: 800px) {
    .navBar .navListBullets {display: none;}
    .navBar a.icon {
        float: left;
        display: block;
    }
}

/* Making hamburgerBar appear onClick */
@media screen and (max-width: 2000px) {
    .hamburgerBar .HLB {display: none;}
    .hamburgerBar.responsive {position: relative;}
    .hamburgerBar.responsive .icon {
        position: absolute;
    }
    .hamburgerBar.responsive a {
        display: block;
    }
}

.hamburgerList {
    background-color: #76D2BB;
    list-style: none;
    position: fixed;
    z-index: 1;
    top: -17px;
    left: -8%;
    width: 108%;
    box-shadow: 0px 10px 8px rgb(0,0,0,0.5);
}

.hamburgerListBullets .HLB {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
}

.hamburgerListBullets .HLB:hover {
    font-weight: bold;
}

/* Below is the styling for the navigation bar */
.navList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    position: absolute;
    top: 15px;
}

.navListBullets {
    float: left; /* removes line breaks, and text floats left */
}

.navListBullets .NLB {
    display: inline-block;
    padding: 14px 16px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: black;
}

.navListBullets .NLB:hover {
    background-color: rgb(118,210,187,0.2);
}

#navBarTitle {
    color: black;
    font-size: 22px;
    font-weight: 900;
    display: inline-block;
    padding: 14px 16px;
    margin: auto;
}

/* Below is the styling for the popup login button */
* {box-sizing: border-box;}

/* The design of the login button in the navigation bar: */
.login-button {
    font-size: 20px;
    color: white;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    font-family: "Palatino";
    right: 20px;
    top: 12px;
    border-style: none;
    background-color: rgb(118,210,187,0.8);
}

.login-button:hover {
    background-color: rgb(118,210,187);
    
}

/* The position of the popup box: */
.login-popup {
    display: none;
    z-index: 9;
    right: 9px;
    position: absolute;
    top: 12px;
}

/* The design of the popup box: */
.login-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    box-shadow: -10px 10px 8px rgb(0,0,0,0.5);
}

/* The design of the input forms in the popup: */
.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #f1f1f1;
}

/* The design of the cancel button (Login) on the top right: */
.login-container .cancel {
    border: none;
    float: right;
    font-family: "Palatino";
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

/* The design of the login button in the bottom of the popup: */
.login-container .btn {
    background-color:rgb(118,210,187,0.5);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

.login-container .btn:hover {
    background-color: rgb(118,210,187);
    color: white;
}

/* The design of the register button: */
.login-container .register {
    background-color: rgb(201,201,201,0.5);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    /* OBS NINA: find ud af hvordan man ændrer så den ikke ser klikket ud */
}

.register:hover {
    background-color: rgb(201,201,201);
    color: white;
}

hr {
    margin-top: 120px;
    border-color: #76D2BB;
    width: 80%;
}

#hamBarWrapper {
    display: none;
    height: 100vh;
    width: 120%;
}

.contactContent {
    position: absolute;
    top: 150px;
}

/* Sæt border-style: solid; for at se hvor de forskellige divs er */

#aboutText {
    align-content: center;
    width: 60%;
    height: 510px;
    float: right;
}



#billede {
    margin: auto;
    height: 250px;
    width: 370px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contactText {
    margin-top: 50px;
    margin-left: 1%;
    text-align: center;
    width: 30%;
    overflow: hidden;
}


#locationText {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 30%;
    text-align: center;
}


/* Text styling */

p1{
    font-size: 15px;
}


/* Kode til maps funktionen */
.googleMaps{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}

.googleMaps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
}

a {
    color: black;
    text-decoration: none;
}

img {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
}

/* Footer style */
.footer {
    color: black;
    bottom: -10%;
    padding: 50px;
    text-align: center;
    width: 102%;
    margin: -10px;

}

.footer a {
    margin-top: 0;
    text-decoration: none;
    color: black;
    font-size: small;
}

.footer a:hover {
    font-weight: bolder;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
