/* Styles for input boxes */
input[type=text], input[type=number], textarea, input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Style for the submit button */
.sendContact {
    background-color: rgb(118,210,187,0.8);
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Hover effect on submit button */
.sendContact:hover {
    opacity: 1;
}

/* Button used to open the contact form */
.open-ContactButton {
    background-color: rgb(118,210,187,0.8);
    color: white;
    padding: 15px;
    width: 30%;
    cursor: pointer;
    position: absolute;
    left: 10px;
    font-size: medium;
    border-style: none;
}

.open-ContactButton:hover {
    background-color: rgb(118,210,187);
}

/* The popup form - hidden by default */
.contactFormPopUp {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 75px;
    border: 3px solid #f1f1f1;
    box-shadow: -10px 10px 8px rgb(0,0,0,0.5);
}

/* Styles for the contact form */
.contactClass {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* When the inputs get focus, do something */
.contactClass input[type=text]:focus, .contactClass input[type=email]:focus, .contactClass input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the Close button */
.contactClass .btn {
    background-color: rgb(201,201,201,0.5);
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the Close button */
.contactClass .cancel {
    background-color: rgb(201,201,201,0.5);
}

/* Add some hover effects to open/close buttons */
.contactClass .btn:hover, .open-button:hover {
    opacity: 1;
}