body {
    background-color: #f1f1f1;
    font-family: "Palatino", sans-serif;
}

/* Sæt border-style: solid; for at se hvor de forskellige divs er */

#aboutText {
    align-content: center;
    margin-top: 0%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
    height: 510px;
    float: right;
    overflow: hidden;
    border-style: ;
}

#billede {
    margin: auto;
    border-radius: 60%;
    height: 250px;
    width: 370px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: ;
}

#contactText {
    margin-top: 0%;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    height: 180px;
    overflow: hidden;
    border-style: ;
}

#mailAndPhone {

}

.contactInfo {

}

#locationText {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    height: 450px;
    border-style: ;
}

#title-bar {
    text-align: left;
    margin: auto;
    color: black;
    border-style: ;
}

/* Text styling */

p1{
    font-size: 15px;
    color: black;
}

h3{
    color: black;
}

/* Kode til maps funktionen */
.googleMaps{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
    border-style: ;
}

.googleMaps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: absolute;
}

a {
    color: black;
    text-decoration: none;
}

img {
    margin-left: -10px;
    margin-right: -10px;
}