body{
    background-color: rosybrown;
    font-family: "Verdana", sans-serif;
}

#title-bar {
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: white;
}

#top-menu-bar {
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}
